{% extends 'base.html.twig' %}

{% block title %}Vignettes | Admin dashboard{% endblock %}

{% block body %}
    <section class="py-4 px-8 md:px-14 lg:py-16 lg:px-20">
        <div class="flex justify-center gap-24">
            <div class="max-w-[400px] w-full">
                <header class="flex justify-between mb-7">
                    <h3 class="font-semibold">Catégories</h3>
                    <span id="add-category">
                        <img src="{{ asset('icons/add.svg') }}" class="cursor-pointer" />
                    </span>
                </header>
                <div class="flex flex-col gap-4">
                    {% for category in categories %}
                    <div class="flex justify-between items-center">
                        <h3 class="text-lg">{{ category.label }}</h3>
                        <div class="flex gap-3">
                            <span id="category-edit-{{ category.id }}" class="modal-category-edit cursor-pointer">
                                <img src="{{ asset('icons/edit.svg') }}" />
                            </span>
                            <span id="category-delete-{{ category.id }}" class="modal-category-delete cursor-pointer">
                                <img src="{{ asset('icons/trash.svg') }}" />
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="max-w-[400px] w-full">
                <header class="flex justify-between mb-7">
                    <h3 class="font-semibold">Utilisateurs</h3>
                    <span>
                        <img src="{{ asset('icons/add.svg') }}" class="cursor-pointer" />
                    </span>
                </header>
                <div class="flex flex-col gap-4">
                    {% for user in users %}
                        <div class="flex justify-between items-center">
                            <h3 class="text-lg">{{ user.name }}</h3>
                            <div class="flex gap-3">
                                <span class="cursor-pointer"><img src="{{ asset('icons/edit.svg') }}" /></span>
                                <span class="cursor-pointer"><img src="{{ asset('icons/eye.svg') }}" /></span>
                                <span class="cursor-pointer"><img src="{{ asset('icons/trash.svg') }}" /></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'profile/modal.html.twig' %}
{% endblock %}
{% block scripts %}
<script>
    const openModal = document.getElementById('add-category');
    const modal = document.getElementById('modal-categories');
    const bgCloseModal = document.getElementById('bg-close-modal');
    const closeModal = document.getElementById('close-modal');

    openModal.addEventListener('click', () => { modal.style.display = "flex"; });
    bgCloseModal.addEventListener('click', () => { modal.style.display = "none"; });
    closeModal.addEventListener('click', () => { modal.style.display = "none"; });

    const modalCategoryDelete = document.querySelectorAll('.modal-category-delete');
    const modalBgCloseCategoryDelete = document.querySelectorAll('.bg-close-delete-modal');
    const modalCloseCategoryDelete = document.querySelectorAll('.close-delete-modal');

    const modalCategoryEdit = document.querySelectorAll('.modal-category-edit');
    const modalBgCloseCategoryEdit = document.querySelectorAll('.bg-close-edit-modal');
    const modalCloseCategoryEdit = document.querySelectorAll('.close-edit-modal');

    for (let i = 0; i < {{ categories|length }}; i++) {
        const modalCategory = document.querySelector('.' + modalCategoryDelete[i].id);
        const modalEditCategory = document.querySelector('.' + modalCategoryEdit[i].id);

        modalCategoryDelete[i].addEventListener('click', () => { modalCategory.style.display = "flex"; });
        modalBgCloseCategoryDelete[i].addEventListener('click', () => { modalCategory.style.display = "none"; });
        modalCloseCategoryDelete[i].addEventListener('click', () => { modalCategory.style.display = "none"; });

        modalCategoryEdit[i].addEventListener('click', () => { modalEditCategory.style.display = "flex"; });
        modalBgCloseCategoryEdit[i].addEventListener('click', () => { modalEditCategory.style.display = "none"; });
        modalCloseCategoryDelete[i].addEventListener('click', () => { modalEditCategory.style.display = "none"; });
    }
</script>
{% endblock %}