{% extends 'base.html.twig' %}

{% block title %}Vignettes | Dashboard{% endblock %}

{% block css %}
<style>
    .col-span-1 {
        grid-column: span 1 / span 1;
    }
    .col-span-2 {
        grid-column: span 2 / span 2;
    }
    .row-span-1 {
        grid-row: span 1 / span 1;
    }
    .row-span-2 {
        grid-row: span 2 / span 2;
    }
</style>
{% endblock %}

{% block body %}
    <section class="py-4 px-8 md:px-14 lg:py-16 lg:px-20">
        <div class="flex flex-col gap-2 items-center mb-16">
            <p class="font-semibold">Filtres</p>
            <form method="post" id="filterForm">
                <label for="categories">Catégories :</label>
                <select id="categories" name="category_filter">
                    <option value="0">----- Aucun -----</option>
                    {% for category in categories %}
                        <option {{ mediaSelected == category.id ? 'selected' : '' }} value="{{ category.id }}">{{ category.label }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div class="w-full grid grid-cols-[repeat(2,minmax(150px,150px))] md:grid-cols-[repeat(4,minmax(150px,200px))] lg:grid-cols-[repeat(6,minmax(200px,200px))] grid-rows-[auto,minmax(200px,200px)] gap-5">
            {% for media in medias %}
                <div
                    id="modal-media-{{ media.id }}"
                    class="modal-media bg-gray-300 w-[{{ media.width > 1 ? '420' : '200' }}px] h-[{{ media.height > 1 ? '420' : '200' }}px] col-span-{{ media.width }} row-span-{{ media.height }} flex justify-center items-center rounded-lg overflow-hidden cursor-pointer"
                >
                    <img
                        src="{{ 'mp3' in media.path ? asset('icons/music.svg') : asset('img/uploads/') ~ media.path }}"
                        class="{{ 'mp3' in media.path ? 'w-20 h-20' : 'w-full' }}"
                    />
                </div>
            {% endfor %}
        </div>
    </section>

    {% include 'home/modal.html.twig' %}
{% endblock %}

{% block scripts %}
<script>
    const modalMedia = document.querySelectorAll('.modal-media');
    const modalBgClose = document.querySelectorAll('.bg-close-modal');
    const modalClose = document.querySelectorAll('.close-modal');

    for (let i = 0; i < {{ medias|length }}; i++) {
        const modal = document.querySelector('.' + modalMedia[i].id);

        modalMedia[i].addEventListener('click', () => { modal.style.display = "flex"; });
        modalBgClose[i].addEventListener('click', () => { modal.style.display = "none"; });
        modalClose[i].addEventListener('click', () => { modal.style.display = "none"; });
    }

    {% if app.user %}
        {% if 'ROLE_ADMIN' in user.roles %}
            const modalEditMedia = document.querySelectorAll('.modal-edit-media');
            const modalBgCloseEdit = document.querySelectorAll('.bg-close-edit-modal');
            const modalCloseEdit = document.querySelectorAll('.close-edit-modal');

            for (let i = 0; i < {{ medias|length }}; i++) {
                const modalEdit = document.querySelector('.' + modalEditMedia[i].id);

                modalEditMedia[i].addEventListener('click', () => { modalEdit.style.display = "flex"; });
                modalBgCloseEdit[i].addEventListener('click', () => { modalEdit.style.display = "none"; });
                modalCloseEdit[i].addEventListener('click', () => { modalEdit.style.display = "none"; });
            }
        {% endif %}
    {% endif %}

    const form = document.getElementById('filterForm');
    const select = document.getElementById('categories');

    select.addEventListener('change', () => {
        form.submit();
    });
</script>
{% endblock %}